.head-book{
    background-color: rgba(63, 67, 10, 0.849);
    display: flex;
    flex-wrap: wrap;
    gap: 70px; 
}

.head-book-item{
    list-style: none;
    width: 250px;
    border: solid white;
    position: relative;
}
.book-image{
    width: 100%;
}

.buttons{
    height: 70px;
    background-color: orange;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    border: solid black;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgba(26, 92, 17, 0.7);
    opacity: 0;
}

.head-book-item:hover .overlay{
    opacity: 1;
}

.hover{
    background-color: white;
}

.head-body{
    background-color: rgb(110, 106, 106);
}

.head-text{
    display: flex;
    justify-content: center;
}

.form-list{
    list-style: none;
}

.finally-get-book{
    background-color: white;
}

.head{
    border: solid rgb(59, 167, 68);
    background-color: rgb(247, 222, 0);
}
